extends layout 

block content 

  h1 #{game.title}
  if game.image
    img(src='/uploads/'+game.image style='width:100px;height:100px')
  p #{game.description}
  p #[strong Category:] 
    each category, index in game.category 
      a(href=category.url) #{category.name}
      if index < game.category.length - 1
        |, 
  p #[strong Price:] $#{game.price}
  p #[strong Quantity:] #{game.quantity}

  hr
  p
    a(href=game.url+'/update') Update game
  p
    a(href=game.url+'/delete') Delete game